.course-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  color: black;
}

.course-card__code {
  align-self: flex-start;
}

.course-description {
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.course-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

.filter-search {
  padding: 0.5em 0.4em;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
}

.selected-search {
  background-color: blue;
  background-image: linear-gradient(#6a5ae0, #4b8df8);
  color: white;
}
